@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    padding-top: 30px;

    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;

}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.h1_budget {
    font-size: 42px;
    font-weight: 700;

    margin-bottom: 20px;
}


.budget_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

.budget_element {
    width: 320px;
    height: 60px;

    padding: 0 15px;
    border-radius: 6px;

    display: flex;
    align-items: center;
}

.budget_element.edit {
    justify-content: space-between;

    background-color: rgb(222, 222, 222);
}

.budget_element.edit button {
    width: 55px;
    height: 35px;
    background-color: rgb(48, 48, 214);
    color: white;
    border-radius: 3px;
}

.budget_element.remains {
    background-color: rgb(171, 235, 171);
}

.budget_element.remains p {
    color: rgb(23, 95, 23);
}

.budget_element.spent {
    background-color: rgb(186, 220, 243);
}

.budget_element.spent p {
    color: rgb(19, 97, 150);
}

.h2_budget {
    font-size: 32px;
    font-weight: 700;

    margin-bottom: 15px;
}

.inp_search {
    width: 100%;
    height: 40px;
    padding: 10px;

    border: 1px solid grey;
    border-radius: 6px;

}

ul {
    margin-bottom: 35px;
}

li {
    width: 100%;
    height: 60px;

    padding: 0 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid grey;
}

li + li {
    margin-top: 10px;
}

.price_delete {
    display: flex;
    align-items: center;
}

.price {
    height: 30px;
    background-color: rgb(48, 48, 214);
    margin-right: 20px;
    padding: 6px 10px;
    color: white;
    border-radius: 30px / 15px;
}

.close {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.wrapper_form_row {
    max-width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper_form {
    max-width: 300px;
}

label {
    font-weight: 700;
    font-size: 18px;
}

.inp_add {
    margin-top: 10px;
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
}

.btn_save {
    width: 65px;
    margin-top: 30px;
    background-color: rgb(48, 48, 214);
    padding: 10px;
    border-radius: 6px;
    color: white;
}


